{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <link rel="stylesheet" href="{% static 'styles/common.css' %}">
        <title>{% block title %}Job Board for Local Businesses{% endblock %}</title>
    </head>

    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-sm navbar-primary bg-light">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold" href="javascript:void(0)">SkillHarmonix</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon material-icons">menu</span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home_page' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="javascript:void(0)">Service</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'log_in' %}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'sign_up' %}">Sign up</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search">
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        {% endblock %}
        <div>
            {% block container %}
            <section class="intro text-white p-5">
                <div class="container">
                    <h1 class="display-4">Welcome to Job Board</h1>
                    <p class="lead">Connecting Local Businesses with Local Job Seekers</p>
                    <a href="{% url 'sign_up' %}" class="btn btn-light btn-lg">Get Started</a>
                </div>
            </section>
            <section class="py-5">
                <div class="container">
                    <h2 class="display-4">About Us</h2>
                    <div class="container mt-5">
                    <p>The Job Board for Local Businesses aims to address the problem of unemployment and underemployment in a specific region. It provides a platform for local businesses to post job listings and for job seekers to find local employment opportunities easily.</p>
                    <p>The primary objective of the project is to establish a connection or bridge between businesses operating within the chosen locale and individuals who are actively seeking employment opportunities in that same area. The platform serves as a matchmaking service, ensuring that job listings from local businesses reach the local workforce.</p>
                    <p>The project's effectiveness and impact are directly linked to the presence and active participation of two key groups: local businesses and local job seekers. The more businesses that post job listings and job seekers who use the platform, the more successful the project will be. It relies on a critical mass of both job listings and users to create a vibrant and effective local job market.</p>
                </div>
                <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                </div>
            </section>
            {% endblock %}
        </div>
        <footer>
            {% block footer %}
            <div>
                <p>&copy; 2023 SkillHarmonix. All rights reserved.</p>
            </div>
            {% endblock %}
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
