{% extends 'company_sites/dashboard.html' %}
{% load static %}
{% block dataview %}
{% load crispy_forms_tags %}
<br>
<h1>Job Decription</h1>
<br>
<div class="container shadow-lg p-3 mb-5 bg-body rounded">
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}

        {% if job_instance %}
         <button type="submit" class="btn btn-primary">Save</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Post</button>
        {% endif %}
    </form>
</div>
<br>
{% endblock %}