{% extends 'index.html' %}
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
{% block container %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<br>
{% bootstrap_messages %}
<br>
<section class="container">
  <div class="mw-100 d-inline-flex shadow-lg p-3 mb-5 bg-body rounded">
    <div class="w-50">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" alt="SHX Logo" class="img-fluid">
    </div>
    <div class="w-50">
    <h1 class="text-center">SignUp</h1>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy}}
        <button type="submit" class="btn btn-primary">SignUp</button>
    </form>
    </div>
  </div>
</section>
{% endblock %}